.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.loader-gif {
  width: 100px; 
  height: 100px;
}

.company-modal {
  margin: 20px;
}

.search-bar {
  display: flex;
  margin-bottom: 20px;
  height: 38px;
}

.search-bar input {
  width: 100%;
  padding: 10px;
  border: 1px solid #f3ecec;

}

.search-bar button {
  border: none;
  background-color: #4b7bc3;
  color: white;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1;
}

tbody {
  display: block;
  max-height: 300px;
  overflow-y: auto;
  color:rgb(182, 181, 181);
}
tbody tr select {
  color:rgb(182, 181, 181);
}
thead tr, tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

th, td {
  padding: 15px;
  text-align: left;
}

select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.action {
  text-align: right;
  cursor: pointer;
}
.action img:hover {
  background-color: #f5f6f7;
  padding: 5px;
  border-radius: 50px;
}
.action button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #007bff;
}

.action button:hover {
  color: #0056b3;
}

.search-image {
  height: 20px;
}
