.company-modal {
  margin: 20px;
}

.search-bar {
  display: flex;
  margin-bottom: 20px;
  height: 35px;
}

.search-bar input {
  width: 100%;
  padding: 10px;
}

.search-bar button {
  border: none;
  background-color: #4b7bc3;
  color: white;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  position: sticky;
  top: 0;
  background-color: #fff;
  z-index: 1;
}

tbody {
  display: block;
  max-height: 300px; /* Set the maximum height to enable scrolling */
  overflow-y: auto;
}

thead tr, tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

th, td {
  padding: 15px;
  text-align: left;
}

select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.action {
  text-align: right;
}

.action button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: #007bff;
}

.action button:hover {
  color: #0056b3;
}

.search-image {
  height: 20px;
}
