<app-header></app-header>
<div class="contact-outer-container">
<div class="contact-container">
  <div>
    <h2><b>Exhibitor Service Team</b></h2>
  </div>
  <div class="contact-details">
    <div class="contact-icon"><img src="../../assets/images/phone.png" /></div>
    <div class="contact-detail-text"><p>Phone: 700-700-0000</p></div>
  </div>
  <div class="contact-details">
    <div class="contact-icon"><img src="../../assets/images/email.svg" /></div>
    <div class="contact-detail-text"><p>exhibitor-supportiesing.com</p></div>
  </div>
  <div class="contact-details">
    <div class="contact-icon"><img src="../../assets/images/time.webp" /></div>
    <div class="contact-detail-text">
      <p>Monday to Friday , 9am CST - 5PM CST</p>
    </div>
  </div>
</div>
</div>
