<div class="main">
    <div class="container d-flex f-column">
        <span><span class="required">*</span>{{ infoTypeSignal() === 'Product Info' ? 'Product Name' : 'Company Name' }}</span>
        <div>
            <input
                class="p-l-11 name-text company-name"
                [value]="
                    (productDetail?.productStickers?.iIsCompany === 0 && infoTypeSignal() === 'Product Info') ||
                    (productDetail?.productStickers?.iIsCompany === 1 && infoTypeSignal() === 'Company Info')
                        ? productDetail?.productStickers?.sProductName
                        : ''
                "
                [placeholder]="
                    (productDetail?.productStickers?.iIsCompany === 0 && infoTypeSignal() === 'Product Info') ||
                    (productDetail?.productStickers?.iIsCompany === 1 && infoTypeSignal() === 'Company Info')
                        ? ''
                        : (infoTypeSignal() === 'Product Info' ? 'Product Name' : 'Company Name')
                "
            />
        </div>
        <div><span class="required">*</span>{{ infoTypeSignal() === 'Product Info' ? 'Product description' : 'Company description' }}</div>
        <div class="editor-container">
            <div class="toolbar">
                <button onclick="execCommand('bold') " ><b>B</b></button>
                <button onclick="execCommand('italic')"><img src="/assets/images/italic_icon.svg" class="c-pointer" alt=""
                    height="10px" width="23px"></button>
                <button onclick="execCommand('underline')"><u>U</u></button>
                <select  class="select" (change)="onStyleChange($event)">
                    <option value="p" class="select">Normal text</option>
                    <option value="h1" class="select">Heading 1</option>
                    <option value="h2" class="select">Heading 2</option>
                    <option value="h3" class="select">Heading 3</option>
                </select>
                <button onclick="execCommand('insertUnorderedList')"><img src="/assets/images/list.svg" class="c-pointer" alt=""
                    height="26px" width="26px"></button>
                <button onclick="execCommand('insertOrderedList')"><img src="/assets/images/ordered_list.svg" class="c-pointer" alt=""
                    height="26px" width="26px"></button>
            </div>
            <div id="comment" contenteditable="true" class="editor-content" [innerHTML]="(productDetail?.productStickers?.iIsCompany === 0 && infoTypeSignal() === 'Product Info') ||
                    (productDetail?.productStickers?.iIsCompany === 1 && infoTypeSignal() === 'Company Info')
                    ?formattedText
                    : ''" #comment></div>
        </div>
        <div>{{ infoTypeSignal() === 'Product Info' ? 'Product Specifications' : 'Additional Information' }}</div>
        <div class="editor-container">
            <div class="toolbar">
                <button onclick="execCommand('bold')"><b>B</b></button>
                <button onclick="execCommand('italic')"><img src="/assets/images/italic_icon.svg" class="c-pointer" alt=""
                    height="10px" width="23px"></button>
                <button onclick="execCommand('underline')"><u>U</u></button>
                <select  class="select" (change)="onStyleChange($event)">
                    <option value="p" class="select">Normal text</option>
                    <option value="h1" class="select">Heading 1</option>
                    <option value="h2" class="select">Heading 2</option>
                    <option value="h3" class="select">Heading 3</option>

                </select>
                <button onclick="execCommand('insertUnorderedList')"><img src="/assets/images/list.svg" class="c-pointer" alt=""
                    height="26px" width="26px"></button>
                <button onclick="execCommand('insertOrderedList')"><img src="/assets/images/ordered_list.svg" class="c-pointer" alt=""
                    height="26px" width="26px"></button>
            </div>
            <div id="editor" contenteditable="true" class="editor-content" 
     [innerHTML]="(productDetail?.productStickers?.iIsCompany === 0 && infoTypeSignal() === 'Product Info') ||
                  (productDetail?.productStickers?.iIsCompany === 1 && infoTypeSignal() === 'Company Info')
                  ? formattedSpecText
                  : ''">
</div>
        </div>
        <div class="d-flex m-t-10 table-footer p-t-16">
            <img src="/assets/images/info_icon.svg" alt="" height="20px" width="20px">
            <span class="p-l-5"><span class="required">*</span><i class="footer-text">Required for QR to be used</i></span>
        </div>
    </div>
</div>
