.main{
    padding: 1% 7%;
}

.container{
    gap: 13px;
}

.editor-container {
    width: 500px;
    border: 1px solid #ddd;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .toolbar {
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    padding: 5px;
    border-bottom: 1px solid #ddd;
    
  }
  
  .toolbar button,
  .toolbar select {
    margin-right: 5px;
    padding: 5px;
    border: none;
    background: none;
    cursor: pointer;
    font-weight: 600;
  }
  
  .toolbar button:hover,
  .toolbar select:hover {
    background-color: #e0e0e0;
  }
  
  .editor-content {
    padding: 10px;
    min-height: 200px;
    outline: none;
  }

  .company-name{
    width: 67.5%;
    border: 1px solid #7e7e7e;
    height: 40px;
    padding: 9px 2px;
    border-radius: 5px;
}

.required{
    color: red;
}

  
