<div class="purchase-qr-main">
<div class="purchase-container">
  <h1>Contact Sales</h1>
  <p>To purchase additional QR codes,</p>
  <p>please contact us at</p>
  <div class="purchase-container-inner">
    <div class="purchaseQR-phone-icon"><span><img class="purchase-container-icon" src="../../assets/images/phone_icon.svg"></span><span>708-786-5565</span></div>
    <div class="purchaseQR-email-icon"><span><img class="purchase-container-icon" src="../../assets/images/email_icon.svg"></span><span>exhibitor-support&#64;csireg.com</span></div>
  </div>
  <p class="office-hours">Our office hours are: Monday - Friday, 9:00AM - 5:00PM СТ</p>
  <button class="purchaseQR-close-button" (click)="closePurchaseQR()">Close</button>
</div>
</div>