.main{
    display: flex;
    width: 100% !important;
    padding: 0 6rem;
    justify-content: space-between;
    align-items: center;
    height: 52px;
    color: white;
}
 .logo-info{
    width: 100%;
    display: flex;
    align-items: center;
 }

 .user-info{
    width: 100%;
    display: flex;
    justify-content:flex-end;
 }

 .logo{
    padding-left: 10px;
 }

 .title{
    padding-left: 10px;
 }

 .appex-scan{
    font-family: OpenSans_600, Arial, sans-serif !important;
    font-weight: 600;
 }

 .company-menu {
   position: relative;
   display: inline-block;
 }
 
 .company-button {
   background-color: #333;
   color: white;
   padding: 10px 15px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   font-size: 16px;
   display: flex;
   align-items: center;
   justify-content: space-between;
 }
 
 .arrow {
   margin-left: 10px;
 }
 
 .dropdown {
   position: absolute;
   top: 100%;
   /* left: -45px; */
   background-color: #444;
   color: white;
   padding: 15px;
   border-radius: 8px;
   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
   z-index: 1000;
   min-width: 284px;
   right: 10px;
   margin-top: 15px;
   /* margin-right: 68px; */
}
 
 .company-info {
   /* display: flex;
   align-items: center; */
   margin-bottom: 10px;
 }
 
 .company-avatar {
   background-color: #3a86ff;
   color: white;
   border-radius: 50%;
   width: 40px;
   height: 40px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin: 0 auto;
   font-weight: bold;
   font-size: 20px;
 }
 
 .menu-options {
   display: flex;
   flex-direction: column;
   margin-left: 10px;
 }
 
 .menu-item {
   background: none;
   border: none;
   color: white;
   text-align: left;
   padding: 10px 0;
   font-size: 16px;
   /* cursor: pointer; */
   display: flex;
   align-items: center;
 }
 
 .icon {
   margin-right: 8px;
 }
 
 .company-text{
   padding-top: 12px;
   padding-left: 12px;
 }

 .divider{
   width: 224px;
   height: 22px;
   display: flex;
   flex-direction: column;
   cursor: pointer;
   margin-left: 14px;
 }

 .divider div{
   display: block;
    width: 100%;
    height: 2px;
    background-color: #d7cccca3;
    border-radius: 2px;
 }

 .logout-icon{
   color: white;
   background-color: white;
 }

 .fa-chevron-down{
   color: white;
 }