<div class="main">
  <div class="content">
    <div class="title p-t-10 p-l-16 ">
      <div>
        <img src="/assets/images/info_icon.png" alt="" class="p-b-3">
        <span class="p-l-10 f-s-16">Please choose the display format</span>
      </div>
      <div (click)="close()" class="c-pointer"><img src="/assets/images/close-icon-white.png" alt="" width="23"></div>
    </div>
    <form (ngSubmit)="onSubmit()" class="form-container">
      <div *ngIf="selectedType === 'printAll'" class="p-l-20 d-flex align-center nps-checkbox"><span class="f-w-600">NPS Only </span><input type="checkbox"></div>
      <div class="d-flex f-column form-section m-l-10 align-center">
      <div *ngIf="selectedType === 'download'">
        <label [class.active]="selectedFormat === 'svg'" class="d-flex align-center">
          <input type="radio" name="format" value="svg" [(ngModel)]="selectedFormat"/>
          <span class="p-l-4 text-color">SVG</span>
        </label>
      </div>
      <div *ngIf="selectedType === 'download'">
        <label [class.active]="selectedFormat === 'jpeg'" class="d-flex align-center m-l-9">
          <input type="radio" name="format" value="jpeg" [(ngModel)]="selectedFormat" />
          <span class="p-l-4 text-color">JPEG</span>
        </label>
      </div>
      <div *ngIf="selectedType === 'print' || selectedType === 'printAll'">
        <label [class.active]="selectedFormat === 'TWOX2_FORMAT'" class="d-flex align-center">
          <input type="radio" name="format" value="TWOX2_FORMAT" [(ngModel)]="selectedFormat" />
          <span class="p-l-4 text-color">2X2 Format</span>
        </label>
      </div>
      <div *ngIf="selectedType === 'print' || selectedType === 'printAll'">
        <label [class.active]="selectedFormat === 'FIVEX7_FORMAT'" class="d-flex align-center">
          <input type="radio" name="format" value="FIVEX7_FORMAT" [(ngModel)]="selectedFormat" />
          <span class="p-l-4 text-color">5x7 Format</span>
        </label>
      </div>
      <button type="submit" class="submit-button c-pointer m-t-20">Submit</button>
    </div>
    </form>
  </div>
</div>