<div class="product-table-container m-t-20">
    <table class="product-table">
        <thead>
            <tr>
                <th class="d-flex check-box p-l-15"><span>All</span><input type="checkbox" [(ngModel)]="isAllChecked"
                        (change)="toggleAllCheckboxes(isAllChecked)" /></th>
                <th>No.</th>
                <th class="text-center qr-head">QR CODE</th>
                <th class="text-left">CONTENT</th>
                <th class="new-product-showcase">NEW PRODUCT SHOWCASE <span>(1 ENTRY)</span></th>
                <th class="action">ACTION</th>
            </tr>
        </thead>
        <tbody>
            <!-- Loop based on stickerCount -->
            <tr *ngFor="let row of rows; let i = index">
                <td class="p-l-17"><input type="checkbox" [(ngModel)]="products_list[i].isChecked"
                        (change)="onIndividualCheckboxChange()" *ngIf="products_list[i]" /></td>
                <td>{{ (i + 1) | number: '2.0' }}</td>

                <!-- Display product details if available -->
                <ng-container *ngIf="products_list[i]; else emptyRow">
                    <td>
                        <div class="d-flex product-content">
                            <img src="/assets/images/dummy_qr.svg" alt="QR Code" class="qr-code" />
                            <span *ngIf="products_list[i].iImageFilesCount !== ''" class="content-button">{{
                                products_list[i].iIsCompany === 0 ? 'Product Content' : 'Company Content' }}</span>
                        </div>
                    </td>
                    <td class="content-column " *ngIf="products_list[i].iImageFilesCount !== ''">
                        <div class="no-product-info">
                            <img src="/assets/images/warning-icon.png" alt="" width="24px" height="24px"
                                *ngIf="products_list[i].iImageFilesCount == 0">
                            <img [src]="products_list[i].thumbnail.sImagePath" alt="Product Image" height="109px"
                                width="109px" *ngIf="products_list[i].iImageFilesCount !== 0" />
                        </div>
                        <div class="product-info">
                            <span class="product-name">{{ products_list[i].sProductName }}</span>
                            <div class="d-flex image-count">
                                <div class="image-count-box d-flex"><img
                                        src="/assets/images/image_icon.svg"><span>{{products_list[i].iImageFilesCount}}</span>
                                </div>
                                <div class="image-count-box d-flex"><img src="/assets/images/video_icon.svg"
                                        alt=""><span>{{products_list[i].iVideoFilesCount}}</span></div>
                                <div class="image-count-box d-flex"><img
                                        src="/assets/images/file_icon.svg"><span>{{products_list[i].iOtherFilesCount}}</span>
                                </div>
                            </div>
                            <div class="d-flex f-column m-t-4 text-product-details">
                                <span><i>{{ products_list[i].sProductCode }}</i></span>
                                <span><i>Last updated: {{ formatDate(products_list[i].sLastUpdatedDateTime)
                                        }}</i></span>
                            </div>
                        </div>
                    </td>
                    <td class="showcase-column">
                        <div class="d-flex j-space align-center">
                            <div class="d-flex" *ngIf="userRole === 'onStaff'" >
                                <input type="checkbox"  [(ngModel)]="products_list[i].isNpsChecked" 
                                (change)="onCheckboxChange(products_list[i])" >
                                <span *ngIf="products_list[i].isNpsChecked || products_list[i].iIsCompany === 0 &&  products_list[i].iIsNps === 1" class="product-showcase"
                                >New Product Showcase</span>
                            </div>
                            
                            <div class="status-label d-flex"
                                [ngClass]="products_list[i].iIsReady === 1 ? 'ready-label' : 'incomplete-label'">
                                <img src="/assets/images/ready_icon.svg" alt="" height="20px" width="20px" *ngIf="products_list[i].iIsReady === 1"/>
                                <img src="/assets/images/incomplete_icon.svg" alt="" height="17px" width="17px"
                                    class="m-t-2" *ngIf="products_list[i].iIsReady === 0">
                                <span>{{ products_list[i]?.iIsReady === 1 ? 'Ready for use' : 'Incomplete' }}</span>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="d-flex action-column" *ngIf="products_list[i].iImageFilesCount !== ''">
                            <span class="d-flex action-box c-pointer"
                                (click)="printDownloadProductModal('print',products_list[i].iId)"><img
                                    src="/assets/images/print_icon.svg" alt="" height="20px" width="20px"> <span
                                    *ngIf="processingStatus[products_list[i].iId] !== 'print'">Print</span>
                                <span *ngIf="processingStatus[products_list[i].iId] === 'print'">Processing...</span>
                            </span>
                            <span class="d-flex action-box c-pointer"
                                (click)="printDownloadProductModal('download',products_list[i].iId)"><img
                                    src="/assets/images/download_icon.svg" alt="" height="20px" width="20px"><span
                                    *ngIf="processingStatus[products_list[i].iId] !== 'download'">Download QR</span>
                                <span *ngIf="processingStatus[products_list[i].iId] === 'download'">Processing...</span>
                            </span>
                            <span class="d-flex action-box c-pointer"
                                (click)="editProduct(products_list[i].iId,products_list[i])"><img
                                    src="/assets/images/edit_icon.svg" alt="" height="20px"
                                    width="20px"><span>Edit</span></span>
                        </div>
                        <div class="d-flex j-end">
                            <div class="no-product-action-column d-flex c-pointer"
                                *ngIf="products_list[i].iImageFilesCount === ''" (click)="addQrContentModal()">
                                <span class="f-w-600">Add QR Content</span>
                                <img src="/assets/images/add_icon.svg" alt="" width="19px" height="19px">
                            </div>
                        </div>
                    </td>
                </ng-container>

                <!-- Template for empty rows -->
                <ng-template #emptyRow>
                    <td>
                        <div class="d-flex product-content">
                            <img src="/assets/images/dummy_qr.svg" alt="QR Code" class="qr-code" />
                        </div>
                    </td>
                    <td class="content-column align-center">
                        <div class="no-product"></div>
                        <div class="no-content-text">No Content Added</div>
                    </td>
                    <td></td>
                    <td>
                        <div class="d-flex j-end">
                            <div class="no-product-action-column d-flex c-pointer" (click)="addQrContentModal()">
                                <span class="f-w-600">Add QR Content</span>
                                <img src="/assets/images/add_icon.svg" alt="" width="19px" height="19px">
                            </div>
                        </div>
                    </td>
                </ng-template>
            </tr>
        </tbody>
    </table>
</div>
<div class="d-flex m-t-10 table-footer p-t-16">
    <img src="/assets/images/info_icon.svg" alt="" height="20px" width="20px">
    <span><i class="footer-text">Incomplete QR codes are not available to download, and your supplied signage will not
            be available onsite at our service desk</i></span>
</div>