.product-table-container {
    overflow-x: auto;
    width: 100%;
    padding: 0 4rem;
}

.product-table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    font-family: Arial, sans-serif;
}

thead tr {
    background-color: #f8f9fa;
    font-weight: bold;
}

th,
td {
    padding: 10px 6px;
}

.content-button {
    background-color: #e1edfe;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    margin-top: 5px;
    border-radius: 5px;
    font-size: 12px;
    width: 128px;
    text-align: center;
    color: #10448e;
    font-weight: bold;
}

.content-column {
    display: flex;
    gap: 10px;
}

tr {
    border-bottom: 1px solid #ddd;
}


.product-info {
    display: flex;
    flex-direction: column;
    gap: 6px;
    min-width: 150px;

}

.badge {
    display: inline-block;
    padding: 3px 8px;
    background-color: #e0f7fa;
    border-radius: 10px;
    color: #00695c;
    font-size: 12px;
    margin-right: 10px;
}

.product-showcase {
    display: inline-block;
    padding: 3px 8px;
    width: 110px;
    font-weight: 600 !important;
}

.ready-label {
    display: inline-block;
    padding: 5px 19px;
    background-color: #d8fbec;
    color: #276350;
    border-radius: 5px;
    font-weight: 600;
    gap: 3px;
    justify-content: center;
    height: 32px;
}

.actions-column {
    display: flex;
    gap: 10px;
}

.action-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    color: #333;
    transition: color 0.2s;
}

.action-button:hover {
    color: #007bff;
}

.product-content {
    flex-direction: column;
    align-items: center;
}

.image-count-box {
    border: 1px solid #ddd;
    justify-content: space-around;
    width: 36px;
    border-radius: 5px;
}

.image-count {
    gap: 10px;
}

.action-column {
    gap: 12px;
}

.product-name {
    display: inline-block;
    font-size: 15px;
    font-weight: bolder !important;
}

.action-box {
    gap: 6px;
}

.check-box {
    gap: 3px;
}

.new-product-showcase {
    width: 448px;
}

.qr-head {
    width: 189px;
}

.no-product {
    width: 92px;
    height: 95px;
    background-color: #f3f4f6;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 11px;
}

.no-content-text {
    font-weight: 600;
}

.no-product-action-column {
    width: 170px;
    align-items: center;
    padding: 5px;
    justify-content: space-around;
    border-radius: 3px;
    border: 1px solid #ddd;
}

.action {
    width: 25%;
}

.incomplete-label {
    display: inline-block;
    padding: 5px 29px;
    background-color: #d7b8bc59;
    color: #9a1b1f;
    border-radius: 5px;
    font-weight: 600;
    gap: 3px;
    justify-content: center;
    height: 32px;
}

.no-product-info {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 98px;
    width: 92px;
    background-color: #f3f4f6;
    min-width: 92px;
    object-fit: contain;
    min-width: 92px;
    min-height: 92px;
    border-radius: 11px;
}

.table-footer {
    gap: 5px;
    width: 100%;
    padding: 0 4rem;
}

.footer-text {
    color: #c71c23;
}

.text-product-details {
    color: #616468;
    font-size: 13px;
    min-width: 164px;
}


@media (min-width: 1200px) and (max-width: 1300px) {
    .product-table-container {
        overflow-x: auto;
        width: 100%;
        padding: 0 3rem;
    }

    tr {
        font-size: 13px;
    }

    .showcase-column {
        min-width: 200px;
        min-width: 336px;
    }
}