<div class="product-table-container m-t-20">
    <table class="product-table">
        <thead>
            <tr>
                <th class="d-flex check-box p-l-15"><span>All</span><input type="checkbox" /></th>
                <th>No.</th>
                <th class="text-center qr-head">QR CODE</th>
                <th class="text-left">CONTENT</th>
                <th class="new-product-showcase">NEW PRODUCT SHOWCASE <span>(1 ENTRY)</span></th>
                <th class="action">ACTION</th>
            </tr>
        </thead>
        <tbody>
            <!-- Loop based on stickerCount -->
            <tr *ngFor="let row of rows; let i = index">
                <td class="p-l-17"><input type="checkbox" *ngIf="products_list[i]" /></td>
                <td>{{ (i + 1) | number: '2.0' }}</td>

                <!-- Display product details if available -->
                <ng-container *ngIf="products_list[i]; else emptyRow">
                    <td>
                        <div class="d-flex product-content">
                            <img src="/assets/images/dummy_qr.svg" alt="QR Code" class="qr-code" />
                            <span *ngIf="products_list[i].iImageFilesCount !== ''" class="content-button">Product
                                Content</span>
                        </div>
                    </td>
                    <td class="content-column " *ngIf="products_list[i].iImageFilesCount !== ''">
                        <div class="no-product-info">
                            <img src="/assets/images/warning-icon.png" alt="" width="24px" height="24px"
                                *ngIf="products_list[i].iImageFilesCount == 0">
                            <img [src]="products_list[i].thumbnail.sImagePath" alt="Product Image" height="109px"
                                width="109px" *ngIf="products_list[i].iImageFilesCount !== 0" />
                        </div>
                        <div class="product-info">
                            <span class="product-name">{{ products_list[i].sProductName }}</span>
                            <div class="d-flex image-count">
                                <div class="image-count-box d-flex"><img
                                        src="/assets/images/image_icon.svg"><span>{{products_list[i].iImageFilesCount}}</span>
                                </div>
                                <div class="image-count-box d-flex"><img src="/assets/images/video_icon.svg"
                                        alt=""><span>{{products_list[i].iVideoFilesCount}}</span></div>
                                <div class="image-count-box d-flex"><img
                                        src="/assets/images/file_icon.svg"><span>{{products_list[i].iOtherFilesCount}}</span>
                                </div>
                            </div>
                            <div class="d-flex f-column m-t-4 text-product-details">
                                <span><i>{{ products_list[i].sProductCode }}</i></span>
                                <span><i>Last updated: {{ formatDate(products_list[i].sLastUpdatedDateTime)
                                        }}</i></span>
                            </div>
                        </div>
                    </td>
                    <td class="showcase-column">
                        <div class="d-flex j-space align-center">
                            <div class="d-flex">
                                <input type="checkbox" />
                                <span *ngIf="products_list[i].iImageFilesCount !== ''" class="product-showcase">New
                                    Product
                                    Showcase</span>
                            </div>
                            <div class="status-label ready-label d-flex"
                                *ngIf="products_list[i].iImageFilesCount !== 0 && products_list[i].iImageFilesCount !== ''">
                                <img src="/assets/images/ready_icon.svg" alt="" height="20px" width="20px">
                                <span>Ready for use</span>
                            </div>
                            <div class="status-label incomplete-label d-flex"
                                *ngIf="products_list[i].iImageFilesCount == 0 && products_list[i].iImageFilesCount !== ''">
                                <img src="/assets/images/incomplete_icon.svg" alt="" height="17px" width="17px"
                                    class="m-t-2">
                                <span>incomplete</span>
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="d-flex action-column" *ngIf="products_list[i].iImageFilesCount !== ''">
                            <span class="d-flex action-box c-pointer" (click)="printDownloadProductModal('print')"><img
                                    src="/assets/images/print_icon.svg" alt="" height="20px"
                                    width="20px"><span>Print</span>
                            </span>
                            <span class="d-flex action-box c-pointer"
                                (click)="printDownloadProductModal('download')"><img
                                    src="/assets/images/download_icon.svg" alt="" height="20px"
                                    width="20px"><span>Download QR</span>
                            </span>
                            <span class="d-flex action-box c-pointer" (click)="editProduct()"><img
                                    src="/assets/images/edit_icon.svg" alt="" height="20px"
                                    width="20px"><span>Edit</span></span>
                        </div>
                        <div class="d-flex j-end">
                            <div class="no-product-action-column d-flex c-pointer"
                                *ngIf="products_list[i].iImageFilesCount === ''" (click)="addQrContentModal()">
                                <span class="f-w-600">Add QR Content</span>
                                <img src="/assets/images/add_icon.svg" alt="" width="19px" height="19px">
                            </div>
                        </div>
                    </td>
                </ng-container>

                <!-- Template for empty rows -->
                <ng-template #emptyRow>
                    <td>
                        <div class="d-flex product-content">
                            <img src="/assets/images/dummy_qr.svg" alt="QR Code" class="qr-code" />
                        </div>
                    </td>
                    <td class="content-column align-center">
                        <div class="no-product"></div>
                        <div class="no-content-text">No Content Added</div>
                    </td>
                    <td></td>
                    <td>
                        <div class="d-flex j-end">
                            <div class="no-product-action-column d-flex c-pointer" (click)="addQrContentModal()">
                                <span class="f-w-600">Add QR Content</span>
                                <img src="/assets/images/add_icon.svg" alt="" width="19px" height="19px">
                            </div>
                        </div>
                    </td>
                </ng-template>
            </tr>
        </tbody>
    </table>
</div>