<div class="product-table-container m-t-20">
    <table class="product-table">
        <thead>
            <tr>
                <!-- <th>All <span class="p-l-4 p-t-2"><input type="checkbox" /></span></th> -->
                <th class="d-flex check-box p-l-15"><span>All</span><input type="checkbox" /></th>
                <th>No.</th>
                <th class="text-center qr-head">QR CODE</th>
                <th class="text-left">CONTENT</th>
                <th class="new-product-showcase">NEW PRODUCT SHOWCASE <span>(1 ENTRY)</span></th>
                <th class="action">ACTION</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of products_list; let i = index">
                <td class="p-l-17"><input type="checkbox" /></td>
                <td>{{ i + 1 | number: '2.0' }}</td>
                <td>
                    <div class="d-flex product-content">
                        <img src="/assets/images/dummy_qr.svg" alt="QR Code" class="qr-code" />
                        <span *ngIf="product.product_image !== ''" class="content-button">Product Content</span>
                    </div>
                </td>
                <td class="content-column " *ngIf="product.product_image !== ''">
                    <div class="no-product-info">
                        <img src="/assets/images/info-icon-grey.png" alt="" width="24px" height="24px"
                            *ngIf="product.total_images == 0 ">
                        <img src="/assets/images/product-sample.png" alt="Product Image" height="95px" width="92px"
                            *ngIf="product.total_images !== 0 " />
                    </div>
                    <div class="product-info">
                        <span class="product-name">{{ product.name }}</span>
                        <div class="d-flex image-count">
                            <div class="image-count-box d-flex"><img src="/assets/images/video_icon.svg"
                                    alt=""><span>1</span>
                            </div>
                            <div class="image-count-box d-flex"><img src="/assets/images/image_icon.svg"><span>1</span>
                            </div>
                            <div class="image-count-box d-flex"><img src="/assets/images/file_icon.svg"><span>1</span>
                            </div>
                        </div>
                        <div class="d-flex f-column m-t-4">
                            <span><i>{{ product.code }}</i></span>
                            <span><i>Last updated: {{ product.lastUpdated }}</i></span>
                        </div>
                    </div>
                </td>
                <td class="content-column align-center" *ngIf="product.product_image === ''">
                    <div class="no-product"></div>
                    <div class="no-content-text">No Content Added</div>

                </td>
                <td class="">
                    <div class="d-flex j-space align-center">
                        <div class="d-flex">
                            <input type="checkbox" />
                            <span *ngIf="product.product_image !== ''" class="product-showcase">New Product
                                Showcase</span>
                        </div>
                        <div class="status-label ready-label d-flex"
                            *ngIf="product.total_images !== 0 && product.product_image !== ''">
                            <img src="/assets/images/ready_icon.svg" alt="" height="20px" width="20px">
                            <span>Ready for use</span>
                        </div>
                        <div class="status-label incomplete-label d-flex"
                            *ngIf="product.total_images == 0 && product.product_image !== ''">
                            <img src="/assets/images/incomplete_icon.svg" alt="" height="17px" width="17px" class="m-t-2">
                            <span>incomplete</span>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="d-flex action-column" *ngIf="product.product_image !== ''">
                        <span class="d-flex action-box c-pointer" (click)="printDownloadProductModal('print')"><img
                                src="/assets/images/print_icon.svg" alt="" height="20px" width="20px"><span>Print</span>
                        </span>
                        <span class="d-flex action-box c-pointer" (click)="printDownloadProductModal('download')"><img
                                src="/assets/images/download_icon.svg" alt="" height="20px" width="20px"><span>Download
                                QR</span>
                        </span>
                        <span class="d-flex action-box c-pointer" (click)="editProduct()"><img
                                src="/assets/images/edit_icon.svg" alt="" height="20px"
                                width="20px"><span>Edit</span></span>
                    </div>
                    <div class="d-flex j-end">
                        <div class="no-product-action-column d-flex c-pointer" *ngIf="product.product_image === ''"
                            (click)="addQrContentModal()">
                            <span>Add QR Content</span>
                            <img src="/assets/images/add_icon.svg" alt="" width="19px" height="19px">
                        </div>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- <div class="d-flex m-t-10">
        <img src="/assets/images/incomplete_icon.svg" alt="" height="20px" width="20px">
        <span>incomplete QR codes are not available to download</span>
    </div> -->
</div>