<button (click)="closeDialog()" class="close-button">
    <img class="close-button-icon" src="../../../assets/images/close.png">
  </button>
  <div class="sidebar-container">
    <ul class="sidebar-list">
      <li class="sidebar-item" [ngClass]="{'active': selectedItem === 'dashboard'}" (click)="selectItem('dashboard')">
        <img src="../../../assets/images/dashboard.png" class="sidebar-icon"> Dashboard
      </li>
      <li class="sidebar-item" [ngClass]="{'active': selectedItem === 'productList'}" (click)="selectItem('productList')">
        <img src="../../../assets/images/sticker_list.png" class="sidebar-icon"> Product List
      </li>
      <li class="sidebar-item" [ngClass]="{'active': selectedItem === 'printAll'}" (click)="printDownloadProductModal('printAll')">
        <img src="../../../assets/images/downloadIcon.png" class="sidebar-icon"> Print All
      </li>
      <li class="sidebar-item" [ngClass]="{'active': selectedItem === 'contactUs'}" (click)="selectItem('contactUs')">
        <img src="../../../assets/images/contact.png" class="sidebar-icon"> Contact Us
      </li>
    </ul>
  </div>
  