<div class="welcome-container">
  <div>
    <h2><b>Welcome to AAPEX Scan Content Editor</b></h2>
    <p class="welcome-container-top">The List below shows your QR code(s) and Associated content</p>
    <ul class="welcome-container-list">
      <li>
        Click 'Edit' to enter the content attendees see when they can scan your
        QR code
      </li>
      <li>
        After completion, pickup your supplied signage at the lead
        <b ><i class="welcome-highlight">Lead Retrieval Service Desk</i></b> onsite
      </li>
      <li>
        Alternatively, you can download your QR Code(s) to incorporate into your
        marketing materials
      </li>
    </ul>
  </div>
  <div>
    <div>
      <button (click)="purchaseQR()" class="purchase-qr">
        Purchase Additional QR
        <img src="../../../assets/images/qrcode_white.svg" />
      </button>
    </div>
    <div class="purchase-container">
      <div class="qr-code-container">
        <div><h2><b> {{ qrCount }}</b></h2></div>
        <div>Total QR Codes</div>
      </div>
      <div><img src="../../../assets/images/qrcode_black.svg" /></div>
    </div>
    <div class="print-selected-container">
        <button class="print-selected">
          Print Selected
          <img src="../../../assets/images/print_white_icon.png" />
        </button>
      </div>
  </div>
</div>
